body {
    transition: 0.3s;
    background-color: #E8E5E3;
}
body.dark {
    background-color: #000;
}
#main {
    height: 100vh;
    position: relative;
}
#main .top {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    padding: 0 6vw;
    z-index: 1000;
    box-sizing: border-box;
}
#main a.tab {
	display: none;
	position: relative;
	width: 40px;
	height: 25px;
}
#main a.tab span {
	position: absolute;
	right: 0;
	top: 0;
	height: 1px;
	background-color: #000;
	transition: 0.3s;
}
#main a.tab span:nth-child(1) {
	width: 100%;
}
#main a.tab span:nth-child(2) {
	top: 10px;
	width: 80%;
}
#main a.tab span:nth-child(3) {
	top: 20px;
	width: 70%;
}
#main a.tab.open span:nth-child(1) {
	top: 10px;
	width: 30px;
	transform: rotate(45deg);
}
#main a.tab.open span:nth-child(2) {
	display: none;
}
#main a.tab.open span:nth-child(3) {
	top: 10px;
	width: 30px;
	transform: rotate(-45deg);
}
.dark #main a.tab span {
	background-color: #E8E5E3;
}
.dark #main h1 {
    color: #E8E5E3;
}
nav#gnb ul {
    display: flex;
    margin: 0 auto;
}
nav#gnb ul li {
    padding: 0 1.125em;
}
.dark nav#gnb ul li.active a  {
    color: #fff;
}
nav#gnb ul li a {
    display: block;
    line-height: 5em;
    font-weight: 500;
    color: #888;
}
nav#gnb ul li:last-child{
    padding-right: 0;
}
nav#gnb ul li.active a {
    color: #000;
}
.dark nav#gnb ul li.active a {
    color: #f90;
}
/* works_list */
header.top {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    padding: 0 6vw;
    z-index: 1000;
    box-sizing: border-box;
}
header.top h1 {
    color: #E8E5E3;
}
header.top a.tab {
	display: none;
	position: relative;
	width: 40px;
	height: 25px;
}
header.top a.tab span {
	position: absolute;
	right: 0;
	top: 0;
	height: 1px;
	background-color: #E8E5E3;
	transition: 0.3s;
}
header.top a.tab span:nth-child(1) {
	width: 100%;
}
header.top a.tab span:nth-child(2) {
	top: 10px;
	width: 80%;
}
header.top a.tab span:nth-child(3) {
	top: 20px;
	width: 70%;
}
header.top a.tab.open span:nth-child(1) {
	top: 10px;
	width: 30px;
	transform: rotate(45deg);
}
header.top a.tab.open span:nth-child(2) {
	display: none;
}
header.top a.tab.open span:nth-child(3) {
	top: 10px;
	width: 30px;
	transform: rotate(-45deg);
}
header.top nav#gnb ul {
    display: flex;
    margin: 0 auto;
}
header.top nav#gnb ul li {
    padding: 0 1.125em;
}
header.top nav#gnb ul li a {
    display: block;
    line-height: 5em;
    font-weight: 500;
    color: #888;
}
header.top nav#gnb ul li:last-child{
    padding-right: 0;
}
header.top nav#gnb ul li.active a {
    color: #f90;
}
#main .keytext_top {
    position: absolute;
    left: 6vw;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    font-family: "Bebas Neue";
} 
#main .text_wrap .inline .text_title {
    font-size: 10vw;
    text-rendering: optimizeLegibility;
    position: relative;
    color: #000;
    font-weight: 400;
    line-height: 0.9;
}
#main .keytext_top .wrap {
    display: flex;
    align-items: flex-end;
}
#main .text_wrap {
    width: fit-content;
}
#main .text_wrap .inline {
    overflow: hidden;
}
#main .text_wrap .inline .text_title span.slide-up {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    color: #000;
    text-align: center;
}
#main .text_wrap .inline .text_title span.slide-up {
    color: #E8E5E3;
}
#main .text_wrap:hover .text_title span.slide-up,
#main .text_wrap.active .text_title span.slide-up {
    transform: translateY(0);
}
#main .text_wrap .text_title span.slide-up::before {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-content);
    color: #cb450c;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}
#main .text_wrap:hover .text_title span.slide-up::before,
#main .text_wrap.active .text_title span.slide-up::before
{
    transform: translateY(0);
}
.second span{
    display: inline-block;
    color: #fff;
    font-size: 10vw;
    line-height: 0.9;
    padding-left: 0.1875em;
}
.marquee-snap {
    margin-top: -8px;
	height: calc(9vw + 12px);
    width: fit-content;
    overflow: hidden;
}
.marquee-snap .marquee_track-snap {
    width: 100%;
    height: 90%;
}
.marquee-snap .marquee_track-snap .marquee_item-snap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    align-items: center;
    height: 100%;
    text-align: left;
}
.marquee-snap .marquee_track-snap .marquee_item-snap h2 {
    font-family: "Playfair";
    font-size: 9vw;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    line-height: 0.8;
    color: #000;
}
#main .keytext_bottom {
    position: absolute;
    right: 6vw;
    bottom: 5vh;
    text-align: right;
    word-break: keep-all;
}
nav#mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff9;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family: "Bebas Neue";
}
nav#mobile ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
nav#mobile ul li a {
    font-size: 4em;
    color: #888;
}
.dark nav#mobile ul li a {
    color: #666;
}
nav#mobile ul li.active a {
    color: #000;
}
.dark nav#mobile ul li.active a {
    color: #cb450c;
}
header.top nav#mobile ul li a {
    color: #666;
}
nav#mobile ul li.active a {
    color: #000;
}
header.top nav#mobile ul li.active a {
    color: #cb450c;
}
@media only screen and (max-width:1280px) {
    body {
        font-size: 0.975em;
    }
    .marquee-snap {
        height: 12vw;
    }
    #main .text_wrap .inline .text_title,
    .second span {
        font-size: 12vw;
    }
    .marquee-snap .marquee_track-snap .marquee_item-snap h2 {
        font-size: 11vw;
    }
}
@media only screen and (max-width:940px){
    body {
        font-size: 0.875em;
    }
    .marquee-snap {
        height: 18vw;
    }
    #main .keytext_top .wrap {
        display: flex;
        flex-direction: column;
        /* align-items: flex-end; */
        align-items: flex-start;
    }
    #main .text_wrap .inline .text_title,
    .second span {
        font-size: 18vw;
        padding: 0;
    } 
    .marquee-snap .marquee_track-snap .marquee_item-snap h2 {
        font-size: 17vw;
    }
}
@media only screen and (max-width:720px){
    body {
        font-size: 0.8125em;
    }
    #main .top {
        padding: 0 30px;
    }
    #main .keytext_top {
        left: 30px;
    }

    .marquee-snap {
        height: 20vw;
    }
    #main .text_wrap .inline .text_title,
    h2 {
        font-size: 20vw;
    } 
    .marquee-snap .marquee_track-snap .marquee_item-snap h2 {
        font-size: 19vw;
    }
    #main .keytext_bottom {
        right: 30px;
    }
    nav#gnb { 
        display: none;
    }
    header.top a.tab,
    #main a.tab {
        display: block;
    }
    #main .keytext_bottom {
        left: 6vw;
        right: 0;
        bottom: 5vh;
        text-align: left;
    }
}
section {
    padding: 8em 0;
}
section .sec-inner {
    padding: 0 10vw;
}
section h4 {
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    /* position: relative; */
}
/* section h4::after {
    position: absolute;
    content: "";
    left: -70px;
    top: 50%;
    width: 50px;
    height: 1px;
    background-color: #000;
} */
.dark section h4 {
    color: #fff;
}
.dark section h4::after {
    background-color: #fff;
}
@media only screen and (max-width:720px){
    section .sec-inner {
        padding: 0 60px;
    }
}
#about {
    position: relative;
    /* overflow-y: hidden; */
}
#about .about-desc {
    display: flex;
    justify-content: space-around;
    margin-top: 5em;

}
#about .about-desc .about-headline {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    width: 30vw;
}
#about .about-desc .about-headline strong {
    font-size: 2.5em;
    line-height: 1.5;
}
#about .about-desc .about-sub-text {
    width: 30vw;
    overflow-y: hidden;
}
#about .about-desc .about-sub-text p {
    text-align: justify;
    line-height: 2;
}
@media only screen and (max-width:1280px){
    #about .about-desc .about-headline strong {
        font-size: 2.25em;
    }
}
@media only screen and (max-width:940px){
    #about .about-desc .about-headline strong {
        font-size: 2.125em;
    }
}
@media only screen and (max-width:720px){
    #about .about-desc {
        flex-direction: column;
    }
    #about .about-desc .about-sub-text {
        width: auto;
        padding-top: 3em;
    }
    #about .about-desc .about-headline {
        width: auto;
        height: 20vh;
    }
}
#skills .skill-swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;  
    padding: 4em 10vw;
    box-sizing: border-box;
    position: relative;
}
#skills .skill-swiper .swiper-slide .skill p {
    font-weight: 500;
    font-size: 0.875em;
}
#skills .skill-swiper .swiper-slide .skill p.category {
    font-size: 1.5em;
}
#skills .skill-swiper .swiper-slide .skill ul {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 2em;
}
#skills .skill-swiper .swiper-slide .skill ul li {
    display: block;
    width: 3.125em;
    height: 3.125em;
    padding-right: 1em;
}
#skills .skill-swiper .swiper-slide .skill ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#skills .skill-swiper .swiper-slide .desc {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
}
#skills .skill-swiper .swiper-slide .desc span {
    font-size: 0.875em;
    line-height: 1.8;
}
#skills .skill-swiper .swiper-scrollbar {
    width: calc(100% - 20vw);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: #9995;
}
#skills .skill-swiper .swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #727272;
}
.dark #skills .skill-swiper .swiper-slide .skill p,
.dark #skills .skill-swiper .swiper-slide .skill p.category,
.dark #skills .skill-swiper .swiper-slide .desc {
    color: #fff;
}
.dark #skills .skill-swiper .swiper-scrollbar {
    background-color: #727272;
}
.dark #skills .skill-swiper .swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #e5e5e5;
}
@media only screen and (max-width:1280px){
    #skills .skill-swiper .swiper-slide .skill p.category {
        font-size: 1.75em;
    }
    #skills .skill-swiper .swiper-slide .skill p.num {
        font-size: 0.9375em;
    }
}
@media only screen and (max-width:720px){
    #skills .skill-swiper {  
        padding: 4em 60px;
    }
    #skills .skill-swiper .swiper-scrollbar {
        width: calc(100% - 100px);
    }
}
#works {
    padding: 30vh 0 15vh 0;
}
#works a {
    display: block;
    width: fit-content;
    margin: 0 auto;
}
#works a .text_wrap .inline .text_title {
    font-size: 20vw;
    font-family: "Bebas Neue";
    text-rendering: optimizeLegibility;
    position: relative;
    color: #000;
}
#works a .text_wrap {
    width: fit-content;
    margin: 0 auto;
}
#works a .text_wrap .inline {
    overflow: hidden;
}
.dark #works a .text_wrap .inline .text_title {
    color: #E8E5E3;
}
#works a .text_wrap .inline .text_title span.slide-up {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateY(100%);
    transition: transform 1s ease;
    color: #E8E5E3;
    text-align: center
}
.dark #works a .text_wrap .inline .text_title span.slide-up {
    color: #000;
}
.dark #works a .text_wrap:hover .text_title span.slide-up,
.dark #works a .text_wrap.active .text_title span.slide-up {
    transform: translateY(0);
}
.dark #works a .text_wrap .text_title span.slide-up::before {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-content);
    color: #cb450c;
    transform: translateY(-100%);
    transition: transform 1s ease;
}
.dark #works a .text_wrap:hover .text_title span.slide-up::before,
.dark #works a .text_wrap.active .text_title span.slide-up::before {
    transform: translateY(0);
}
@media only screen and (max-width:1280px) {
    #works a .text_title,
    .dark #works a .text_title span.slide_up {
        font-size: 18vw;
    }
}
@media only screen and (max-width:940px){
    #works a .text_title,
    .dark #works a .text_title span.slide_up {
        font-size: 20vw;
    }
}
@media only screen and (max-width:720px){
    #works a .text_title,
    .dark #works a .text_title span.slide_up {
        font-size: 22vw;
    }
}
#contact { /**/
    position: relative;
    padding: 20vh 0 8em;
    font-family: "Bebas Neue";
}
#contact .contact-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact .text_wrap .inline .text_title {
    font-size: 8vw;
    text-rendering: optimizeLegibility;
    position: relative;
    color: #E8E5E3;
}
#contact .text_wrap {
    width: fit-content;
    margin: 0 auto;
}
#contact .text_wrap .inline {
    overflow: hidden;
}
#contact .text_wrap .inline .text_title span.slide-up {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateY(100%);
    transition: transform 1s ease;
    color: #E8E5E3;
    text-align: center
}
#contact .text_wrap .inline .text_title span.slide-up {
    color: #000;
}
#contact .text_wrap.active .text_title span.slide-up,
#contact .text_wrap:hover .text_title span.slide-up {
    transform: translateY(0);
}
#contact .text_wrap .text_title span.slide-up::before {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-content);
    color: #cb450c;
    transform: translateY(-100%);
    transition: transform 1s ease;
}
#contact .text_wrap.active .text_title span.slide-up::before,
#contact .text_wrap:hover .text_title span.slide-up::before {
    transform: translateY(0);
}
#contact .contact-top .information {
    white-space: nowrap;
}
#contact .contact-top .information ul li {
    display: flex;
    align-items: center;
}
#contact .contact-top .information ul li:last-child {
    padding-top: 1.875em;
}
#contact .contact-top .information ul li span {
    font-size: 1.875em;
    padding-right: 2em;
}
#contact .contact-top .information ul li p {
    font-size: 4vw;
}
#contact .contact-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8em;
    font-family: "Bebas Neue";
}

#contact .contact-bottom ul{
    display: flex;
    justify-content: center;
    width: fit-content;
    gap: 20px;
}
#works_list .more a.button {
    display: inline-block;
    font-family: "Roboto";
    padding: 3px 20px;
    border: 1px solid #000;
    color: #000;
    border-radius: 30px;
    transition: 0.3s;
}
#contact .contact-bottom ul li a.button {
    display: inline-block;
    font-family: "Roboto";
    font-size: 1.125em;
    padding: 5px 15px;
    border: 1px solid #E8E5E3;
    color: #E8E5E3;
    border-radius: 30px;
    transition: 0.3s;
}
#works_list .more a.button:hover,
#contact .contact-bottom ul li a.button:hover {
    background-color: #cb450c;
    border: 1px solid #cb450c;
}
#works_list .more a.button .link,
#contact .contact-bottom ul li a.button .link {
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
}
#works_list .more a.button .link_inner,
#contact .contact-bottom ul li a.button .link_inner {
    display: flex;
    transform: translateY(0);
    transition: transform 0.3s cubic-bezier(.175,.885,.32,1.275) ;
}
#works_list .more a.button:hover .link_inner,
#contact .contact-bottom ul li a.button:hover .link_inner {
    transform: translateY(-100%);
}
#works_list .more a.button .link_animated,
#contact .contact-bottom ul li a.button .link_animated {
    position: absolute;
    top: 100%;
    display: none;
}
#works_list .more a.button:hover .link_animated,
#contact .contact-bottom ul li a.button:hover .link_animated {
    /* display: inline-block; */
    display: flex;
    color: #000;
}
#contact .contact-bottom p.copyright {
    margin-top: 5em;
    color: #999;
}
#contact .contact-top .information ul li span,
#contact .contact-top .information ul li p,
#contact .contact-bottom ul li a span {
    color: #E8E5E3;
}
@media only screen and (max-width:940px){
    #contact .contact-top .information ul li span {
        padding-right: 1.1em;
    }
}
@media only screen and (max-width:720px){
    #contact .contact-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #contact .text_wrap .inline .text_title {
        font-size: 12vw;
    }
    #contact .contact-top .information ul li p {
        font-size: 6vw;
    }
    #contact .contact-top .information {
        margin-top: 8em;
    }

}
.cursor {
	position: absolute;
	z-index: 10000;
	width: 15px;
	height: 15px;
	background-color: #f90;
	border-radius: 50%;
	user-select: none;
	pointer-events: none;
}
#works_list .sec_inner {
    padding: 0 10vw;
}
#works_list h4 {
    font-size: 2em;
    font-weight: 600;
    position: relative;
    color: #000;
}
#works_list h2 {
    font-size: 3em;
}
#works_list .title {
    font-family: "Bebas Neue";
}
#works_list .title span.used_skill {
    color: #555;
}
#works_list .title span.explain {
    color: #000;
    font-size: 0.875em;
}

